@import "../../../../@fuse/scss/fuse";


.interval ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    width: 100%;
}

.interval ::ng-deep .mat-form-field-infix {
    padding: 0 !important;
    margin: 0 !important;
    input {
        font-size: 15px !important;
    }
}

.interval ::ng-deep .mat-form-field-suffix {
    .toolbar__daterange-clear {
       cursor: pointer;
    }
}

.interval ::ng-deep .mat-form-field-underline {
    // display: none;
    position: static;
}

.interval ::ng-deep .md-drppicker {
    left: -40px !important;
}