@import "src/@fuse/scss/fuse";

.height-75 {
    max-height: 75vh !important;
    min-height: 75vh !important;
}

.config-container {
    display: flex;
    flex-direction: column;
    max-height: 90vh;

    .example-is-mobile .example-toolbar {
    }

    h1.example-app-name {
        margin-left: 8px;
        color: white;
        min-width: 300px;
        @include media-breakpoint('lt-sm') {
            display: none;
        }

    }

    .example-sidenav-container {
        /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
           causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
        flex: 1;

    }
    .mat-sidenav {
        @include media-breakpoint('gt-xs') {
            min-width: 350px;
        }
    }

    .example-is-mobile .example-sidenav-container {
        /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
           `<body>` to be our scrolling element for mobile layouts. */
        flex: 1 0 auto;
    }
    .mat-sidenav-content {
        background-color: white;
        max-height: 100vh;
    }
    .mat-sidenav-content-70 {
        max-height: 70vh;
        min-height: 70vh;
        background-color: white;
    }
    .save-button-wrapper {
        @include media-breakpoint('gt-xs') {
            min-width: 150px;
        }
    }
    .search-wrapper {
        width: 100%;
        max-width: 480px;
        border-radius: 12px;
        overflow: hidden;
        background: white;

        @include mat-elevation(1);

        .search {
            width: 100%;
            height: 38px;
            line-height: 38px;
            padding: 0 8px;

            input {
                width: 100%;
                height: 38px;
                min-height: 38px;
                max-height: 38px;
                padding: 0 8px;
                border: none;
                outline: none;
            }

            &__clear {
                cursor: pointer;
            }
        }
    }
}

