#canvas {
    display: block;
    background-repeat: no-repeat;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgba(0,0,0,.12);
    background-color: white;
}
.content {
    width: 100%;
}
.cItem {
    padding-left: 12px;
}