<script src="https://vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
<div class="page-layout blank p-24">

    <h2>{{'SAMPLE.HELLO' | translate}}</h2>
    vk 1
<div id="login_button" onclick="VK.Auth.login(authorize);">login</div>
    <script language="javascript">
      VK.init({
        apiId: 2773692
      });
      function authorize(response) {
        if (response.session) {
          alert("Authorization denied");
        }
        else {
          alert("Authorization doen't denied");
        }
      }

      VK.Api.call('friends.get', {fields: 'uid,first_name'}, function(data) {
        alert(data.response.length);
        if (data.error) {
          alert(data.error.error_msg);
        } else {
          if (data.response.length > 0) {
            for (i = 0; i < data.response.length; i++) {
              alert(data.response[i]);
              document.write("<p>" + data.response[i] + "</p>");
            }
          }
        }
      });
      VK.UI.button('login_button');
    </script>

</div>
