
<div id="login" fxLayout="column">

    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{auth_title}}</span>
            <button *ngIf="!modelService.get_install_mode()" mat-icon-button (click)="close()" aria-label="Закрыть">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}" *ngIf="show_login">

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                <mat-form-field *ngIf="!hide_domain">
                    <input matInput placeholder="Сайт" formControlName="domain" name="domain" >
                    <mat-error *ngIf="loginFormErrors.domain.required">
                        укажите ваш сайт
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="username" name="username">
                    <mat-error *ngIf="loginFormErrors.username.required">
                        укажите ваш email
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Пароль" name="password" formControlName="password">
                    <mat-error *ngIf="loginFormErrors.password.required">
                        укажите ваш пароль
                    </mat-error>
                </mat-form-field>
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <!--mat-checkbox class="remember-me" aria-label="Remember Me">
                        Запомпнить меня
                    </mat-checkbox-->
                    <a mat-button color="accent" (click)="show_remind_form()" *ngIf="this.modelService.getConfigValue('allow_remind_password') == 1">Забыли пароль?</a>
                </div>
                <button mat-raised-button color="accent" class="submit-button" aria-label="Вход"
                        [disabled]="loginForm.invalid">
                    <mat-icon *ngIf="!loading">
                        vpn_key
                    </mat-icon>
                    <mat-icon *ngIf="loading"><mat-spinner [diameter]="20"></mat-spinner></mat-icon>

                    Вход
                </button>

            </form>

            <ng-container *ngIf="!hide_domain">
                <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <span class="text">Еще нет аккаунта?</span>
                    <button mat-button color="accent" (click)="show_register_domain_form()">Создать сайт</button>
                </div>
            </ng-container>

            <ng-container *ngIf="this.modelService.getConfigValue('allow_register_account') == 1 && hide_domain">
                <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <span class="text">Еще нет аккаунта?</span>
                    <button mat-button color="accent" (click)="show_register_form()">Зарегистрироваться</button>
                </div>
            </ng-container>


            <!--button mat-raised-button class="google">
                Log in with Google
            </button>

            <button mat-raised-button class="facebook">
                Log in with Facebook
            </button>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/pages/auth/register'">Create an account</a>
            </div-->

        </div>
        <remind-modal *ngIf="show_remind">
        </remind-modal>

        <register-modal *ngIf="show_register">
        </register-modal>

        <register-domain-modal *ngIf="show_register_domain" (close)="close_register_domain()">
        </register-domain-modal>

        <ng-container *ngIf="(show_register || show_remind || show_register_domain) && !modelService.get_install_mode()">
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <button mat-button color="accent" (click)="show_login_form()">Войти в существующий аккаунт</button>
            </div>
        </ng-container>

    </div>

</div>
