<div class="page-layout carded left-sidebar inner-scroll">
    <memorylist-sidebar></memorylist-sidebar>
    <!-- CENTER -->
    <div class="center mt-16">

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content" fxLayout="row">
                <favorites-grid [memorylist_id]="memorylist_id"></favorites-grid>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
</div>
