<div id="ngx-datatable" class="page-layout simple fullwidth">
    <div class="content" layout="row">
        <mat-tab-group dynamicHeight>
            <mat-tab>
                <ng-template matTabLabel>
                    <div matBadge="{{collections_total_counter}}" matBadgeColor="accent" matBadgeOverlap="false">
                        Подборки
                    </div>
                </ng-template>


                <!-- WIDGET GROUP -->
                <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                     [@animateStagger]="{value:'50'}">
                    <!-- WIDGET 11 -->
                    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                 fxFlex="100">
                        <!-- Front -->
                        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                            <memorylist-grid [enable_collections]="true" [only_collections]="true"  (total_counterEvent)="set_total_counter_collections($event)"></memorylist-grid>
                        </div>
                        <!-- / Front -->
                    </fuse-widget>
                    <!-- / WIDGET 11 -->
                </div>
                <!-- / WIDGET GROUP -->
            </mat-tab>
            <mat-tab label="Все объекты">
                <!-- WIDGET GROUP -->
                <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                     [@animateStagger]="{value:'50'}">
                    <!-- WIDGET 11 -->
                    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                 fxFlex="100">
                        <!-- Front -->
                        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                            <data-grid [enable_collections]="true"  (total_counterEvent)="set_total_counter_data($event)"></data-grid>
                        </div>
                        <!-- / Front -->
                    </fuse-widget>
                    <!-- / WIDGET 11 -->
                </div>
                <!-- / WIDGET GROUP -->
            </mat-tab>

            <mat-tab label="Парсер" *ngIf="modelSerivce.getConfigValue('parser.disable') !== true && modelSerivce.getDomConfigValue('parser_disable') !== true">
                <!-- WIDGET GROUP -->
                <div class="widget-group grey-100-bg" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                     [@animateStagger]="{value:'50'}">
                    <!-- WIDGET 11 -->
                    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                 fxFlex="100">
                        <!-- Front -->
                        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                            <parser-grid [enable_collections]="true"  (total_counterEvent)="set_total_counter_data($event)"></parser-grid>
                        </div>
                        <!-- / Front -->
                    </fuse-widget>
                    <!-- / WIDGET 11 -->
                </div>
                <!-- / WIDGET GROUP -->
            </mat-tab>



        </mat-tab-group>

    </div>
</div>
