<span class="selectionFilterWrapper" (click)="hoverElement=true"  >
    <ng-container *ngIf="!hoverElement && !get_compose_params_counter(columnObject)">
        <div class="column-title">
            {{columnObject.title}}
        </div>
    </ng-container>
    <ng-container *ngIf="hoverElement || get_compose_params_counter(columnObject)">
        <ng-select *ngIf="select_filter_enable"
                   [(ngModel)]="selectedFilter"
                   appendTo="body"
                   bindValue="id"
                   bindLabel="value"
                   class="select_options"
                   [ngClass]="{extraFilter: true}"
                   [items]="options"
                   [clearOnBackspace]="false"
                   [searchable]="true"
                   [multiple]="true"
                   [hideSelected]="false"
                   [closeOnSelect]="false"
                   (focus)="onFocus($event)"
                   (ngModelChange)="selectItem($event)"
                   >

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.value}}
            </ng-template>
        </ng-select>




        <ng-select *ngIf="select_box_filter_enable"
                   [(ngModel)]="selectedFilter"
                   appendTo="body"
                   bindValue="id"
                   bindLabel="value"
                   [ngClass]="{extraFilter: true}"
                   [items]="options_select_box"
                   [clearOnBackspace]="false"
                   class="select_options"
                   [searchable]="true"
                   [multiple]="true"
                   (focus)="onFocus($event)"
                   [hideSelected]="false"
                   [closeOnSelect]="false"
                   (ngModelChange)="selectItem($event)"
                  >

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.value}}
            </ng-template>
        </ng-select>

        <ng-select *ngIf="string_filter_enable"
                   [(ngModel)]="selectedFilter"
                   appendTo="body"
                   [items]="items"
                   [clearOnBackspace]="false"
                   class="select_options"
                   [searchable]="true"
                   [multiple]="true"
                   (focus)="onFocus($event)"
                   [hideSelected]="false"
                   [closeOnSelect]="false"
                   [typeahead]="typeahead"
                   (ngModelChange)="selectItem($event)"
                   >

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item}}
            </ng-template>
        </ng-select>


        <ng-select *ngIf="checkbox_filter_enable"
                   [(ngModel)]="selectedFilter"
                   appendTo="body"
                   [items]="options_checkbox"
                   [clearOnBackspace]="false"
                   [ngClass]="{extraFilter: true}"
                   class="select_options"
                   [searchable]="true"
                   [multiple]="true"
                   (focus)="onFocus($event)"
                   [hideSelected]="false"
                   [closeOnSelect]="false"
                   (ngModelChange)="selectItem($event)"
                   >

            <ng-template ng-label-tmp let-item="item" let-index="index">
                <ng-container *ngIf="item == 1"> Да</ng-container><ng-container *ngIf="item == 0"> Нет</ng-container>
            </ng-template>

            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> <ng-container *ngIf="item == 1"> Да</ng-container><ng-container *ngIf="item == 0"> Нет</ng-container>
            </ng-template>
        </ng-select>

        <ng-select *ngIf="price_filter_enable"
                   [(ngModel)]="price_selector"
                   bindValue="id"
                   appendTo="body"
                   [ngClass]="{extraFilter: true}"
                   [ngStyle]="{ 'width': '250px'}"
                   [items]="price_options"
                   [clearOnBackspace]="false"
                   [searchable]="false"
                   [multiple]="false"
                   [hideSelected]="true"
                   [closeOnSelect]="false"
                   (focus)="onFocus($event)"
                   (change)="onPriceSelectorChange($event)"
                   (close)="onPriceSelectorClose()"
                   >
            <ng-template ng-label-tmp let-item="item" let-index="index">
        <span *ngIf="item.value == 'range'">
            от {{price_min}} до {{price_max}}
        </span>
                <span *ngIf="item.value != 'range'">
            {{item.value}}
        </span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
                <div *ngIf="price_options[index].value == 'range'">
                    <mat-form-field fxFlex="50" class=" pl-4">
                        <input type="text" aria-label="Number" matInput [(ngModel)]="price_min">
                    </mat-form-field>
                    <mat-form-field fxFlex="50" class="pl-4">
                        <input type="text" aria-label="Number" matInput [(ngModel)]="price_max">
                    </mat-form-field>
                </div>
                <span *ngIf="price_options[index].value != 'range'">
            {{price_options[index].value}}
        </span>

            </ng-template>
            <ng-template ng-footer-tmp>
                <div class="custom-slider" fxFlex="100">
                    <ng5-slider (userChange)="onPriceSliderChange($event)" [(value)]="price_min" [(highValue)]="price_max" [options]="options_price_zero_10m"></ng5-slider>
                </div>

            </ng-template>
        </ng-select>
<!--        <div *ngIf="compose_enable">-->
<!--            <button mat-button color="accent" (click)="compose_modal(columnObject)">-->
<!--                {{columnObject.title}}-->
<!--                <mat-icon *ngIf="get_compose_params_counter(columnObject)">playlist_add_check</mat-icon>-->
<!--            </button>-->
<!--        </div>-->
<!--        <div *ngIf="!filter_enable">-->
<!--            {{columnObject.title}}-->
<!--        </div>-->
    </ng-container>
</span>