
    <ng-container>
<!--        <label>&& fromToControls['minValue'].touched</label>-->
        <div class="fromToInputWrapper">
            <input class="fromToInput" name="minValue" placeholder="От" [(ngModel)]="selectedFilterMin"
                   (ngModelChange)="selectItem($event, 'min')">
            <div class="incorrect"
                 *ngIf="invalidMin">
                Некорректные данные
            </div>
        </div>

<!--        <label> && fromToControls['maxValue'].touched</label>-->
        <div class="fromToInputWrapper">
            <input class="fromToInput" name="maxValue" placeholder="До" [(ngModel)]="selectedFilterMax"
                   (ngModelChange)="selectItem($event, 'max')">
            <div class="incorrect"
                 *ngIf="invalidMax">
                Некорректные данные
            </div>
        </div>

        <div *ngIf="columnObject === 'price'">{{currency}}</div>

    </ng-container>

