<div id="price-tables" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="start start">

        <div class="hero-text" fxLayout="column" fxLayoutAlign="center center" fxFlex>

            <div class="h1">Пакеты услуг и тарифы</div>
            <div class="h3">
                Выберите пакет услуг
            </div>

        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fxLayout="column">

        <!-- PRICE TABLES -->
        <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="center center">

            <div class="price-table style-3 mat-elevation-z4" fxLayout="column"  *ngFor="let product of products">

                <div class="package-type">
                    <div class="title">{{product.value.name.value}}</div>
                </div>

                <div class="price primary-300" fxLayout="row" fxLayoutAlign="center start">
                    <div class="currency">{{product.value.pricing[currency_id].currency_info.name}}</div>
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <div class="value">{{product.value.pricing[currency_id].default_cycle_price}}</div>
                        <div class="period">{{product.value.pricing[currency_id].default_cycle}}</div>
                    </div>
                </div>

                <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                    <div class="term" [innerHTML]="product.value.description.value"></div>
                </div>

                <button mat-raised-button class="cta-button" color="accent" (click)="add_to_cart(product)">Купить</button>


            </div>
        </div>
        <!-- / PRICE TABLES -->

    </div>

</div>

