<div class="fuse-card auto-width">

    <div class="p-8">
        <div class="h2">{{uploader_title}}</div>
    </div>

    <div class="p-8 pt-0  w-100-p">
        <span class="w-100-p" fxLayout="column" fxLayoutAlign="start center">
            <div class="w-100-p"  *ngIf="!disable_gallery_controls">
                <!-- Front -->
                <div class="fuse-widget-front w-100-p">
                    <div class="pl-8 pr-8 py-8 w-100-p" fxLayout="row" fxLayoutAlign="space-between center">

                        <div class="h3">Всего фото: {{galleryImages[image_field].length}}</div>
                        <div>
                                <button color="warn" mat-raised-button type="button" aria-label="Удалить все фото" (click)="delete_all_images()" *ngIf="galleryImages[image_field].length > 0">
                                    Удалить все фото
                                </button>
                        </div>
                    </div>
                    <div class="p-8 pb-12" fxLayout="column" fxLayoutAlign="center center">
                        <div class="upload-box" *ngIf="galleryImages[image_field].length < max_uploads && !disable_gallery_controls">
                            <div class="upload-box-content">
                                <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                                    <p align="center">
                                        Для добавления фото
                                        <label class="upload-button">
                                            <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple> нажмите здесь
                                        </label> или переместите сюда файлы для загрузки
                                    </p>
                                </div>
                                <div class="upload-item" *ngFor="let f of files; let i = index;">
                                    <div class="upload-item-content">
                                        <div class="filename">
                                            <div class="filename-left">
                                                <i class="ionicon ion-ios-copy"></i>
                                                <span>{{ f.name }}</span>
                                            </div>
                                            <div class="filename-right">
                                                <i class="ionicon ion-close-round" (click)="cancelUpload(f.id)"></i>
                                            </div>
                                        </div>
                                        <div class="progress-content">
                                            <div class="progress">
                                                <span class="bar" [style.width]="f?.progress?.data?.percentage + '%'" [class.is-done]="f?.progress?.data?.percentage === 100"></span>
                                            </div>
                                        </div>
                                        <div class="progress-text-content">
                                            <span class="progress-text" [class.is-done]="f?.progress?.data?.percentage === 100">
                                                <span>{{ f.progress?.data?.percentage }}% </span>
                                                <span *ngIf="f.progress?.data?.percentage !== 100">Uploading...</span>
                                                <span *ngIf="f.progress?.data?.percentage === 100">Done</span>
                                            </span>
                                            <span class="speed-and-eta-text" *ngIf="f.progress?.data?.percentage !== 0 && f.progress?.data?.percentage !== 100">
                                                <span>{{ f.progress?.data?.speedHuman }} </span>
                                                <span>ETA {{ f.progress?.data?.etaHuman }}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- / Front -->
            </div>
            <div class="w-100-p">
                <gallery-component
                    *ngIf="show_gallery && galleryImages[image_field].length > 0"
                    [galleryImages]="galleryImages"
                    [entity]="entity"
                    [image_field]="image_field"
                    [disable_gallery_controls]="disable_gallery_controls"
                    (onGalleryChange)="onGalleryChange($event)"
                >
                </gallery-component>
            </div>
        </span>
    </div>

</div>




