<div class="page-layout blank p-24">
    <button *ngIf="!edit_mode" mat-raised-button type="button" (click)="edit()" aria-label="Редактировать профиль" matTooltip="Редактировать профиль">
        Редактировать
    </button>

    <view-static *ngIf="!edit_mode" [entity]="entity"></view-static>

    <form-static
        *ngIf="edit_mode"
        [entity]="entity"
        [disable_delete]="true"
        [column_mode]="50"
        [disable_form_title_bar]="true"
        (onClose)="close_edit()">
    </form-static>
</div>
